<div class="page-header">
  <h1>This is the pinteresting team!<small> So far <%= link_to "Sergio" , "http://www.twitter.com/sfelgueres" %> is the only person this team.</small></h1>
</div>

<%= render 'layouts/teammate' %>
<%= render 'layouts/teammate' %>
<%= render 'layouts/teammate' %>

