<div class="row" align="center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" align="center">
      <a href= "https://twitter.com/sfelgueres"><img src="https://pbs.twimg.com/profile_images/229937532/Whistler_2007_050_bigger.jpg" height="100" width="100"></a>
      <div class="caption" align="center">
        <h3>Sergio</h3>
      </div>
      <div align="center">
       	<p>MBA | Entrepreneur | Tech Junkie | World Traveler</p>
      </div>
      <div class="span4 centered-pills">
      	<ul class="nav nav-pills">
 			<li class="active"><a href="https://www.facebook.com/sfelgueres">Facebook</a></li>
  			<li class="active"><a href="https://twitter.com/sfelgueres">Twitter</a></li>
 			<li class="active"><a href="http://instagram.com/sfelgueres">Instagram</a></li>
		</ul>
      </div>
  </div>
</div>